    body {
        width: 1366px;
        height: 5710px;
    }
    
    .container {
        max-width: 1200px;
        min-width: 400px;
        margin: 0 auto;
    }
    
    .footer {
        /* Style for "footer-bac" */
        width: 1366px;
        height: 384px;
        background-color: #f7f7f7;
        flex: 0 0 auto;
    }
    
    .slider {
        /* Style for "slider-img" */
        width: 1366px;
        height: 800px;
    }
    
    .logo {
        /* Style for "logo" */
        width: 185px;
        height: 22px;
        background-color: #212121;
        margin-left:
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    
    .clr {
        height: 200px;
    }
    
    .nav {
        /* Style for "navbar" */
        width: 1366px;
        height: 90px;
        float: left;
    }
    
    .menu li a {
        width: 490px;
        height: 10px;
        color: #8c8c8c;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: 48px;
        text-align: right;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        padding: 0 20px;
    }
    
    .menu li a:hover {
        font-family: "Montserrat Light";
        font-weight: 300;
        font-style: normal;
        letter-spacing: 1.4px;
        line-height: normal;
    }
    
    .menu li a:active {
        color: #212121;
        font-family: "Montserrat - Bold";
        font-weight: 700;
        font-style: normal;
        letter-spacing: 1.4px;
        line-height: normal;
    }
    
    h3 {
        /* Style for "TRENDING" */
        width: 109px;
        height: 13px;
        color: #43a047;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 48px;
        text-align: left;
        text-transform: uppercase;
        /* Text style for "TRENDING" */
        color: #43a047;
        font-style: normal;
        letter-spacing: 1.8px;
        line-height: normal;
    }
    
    h1 {
        /* Style for "Fishnet Ch" */
        width: 435px;
        height: 43px;
        color: #212121;
        font-family: "Montserrat - Thin";
        font-size: 62px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 72px;
        text-align: left;
        text-transform: uppercase;
    }
    
    p {
        /* Text style for "Fishnet Ch" */
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
    }